<ol class="top-nav-list">
  <li>Physics
  <ul class="mt-0">
    {% assign physics_notes = site.physics_notes | sort: "title" %}
    {% for post in physics_notes %}
      {% include nav-block.html %}
    {% endfor %}
  </ul></li>

  <li>Computer Science
  <ul class="mt-0">
    {% assign computer_science_notes = site.computer_science_notes | sort: "title" %}
    {% for post in computer_science_notes %}
      {% include nav-block.html %}
    {% endfor %}
  </ul></li>

  <li>Software development
  <ul class="mt-0">
    {% assign software_development_notes = site.software_development_notes | sort: "title" %}
    {% for post in software_development_notes %}
      {% include nav-block.html %}
    {% endfor %}
  </ul></li>
</ol>
