<div class="top-nav-area-container prose">
  <span id="top-nav-emoji-button" class="cursor-pointer" title="Open navigation menu" hidden>🧭</span>
  <div id="top-nav-modal" class="top-nav-modal" hidden>
    <div class="nav-modal-sticky-div">
      <span id="top-nav-close-button" class="cursor-pointer" title="Close menu">❌</span>
    </div>
    <ol id="top-nav-list" class="top-nav-list"></ol>
  </div>
  <script>
    window.onload = function() {
      const topNavEmojiButton = document.querySelector("#top-nav-emoji-button");
      const modal = document.querySelector("#top-nav-modal");
      topNavEmojiButton.addEventListener("click", () => {
        modal.hidden = false;
        topNavEmojiButton.hidden = true;
      });
      const topNavCloseButton = document.querySelector("#top-nav-close-button");
      topNavCloseButton.addEventListener("click", () => {
        modal.hidden = true;
        topNavEmojiButton.hidden = false;
      });

      const topNavList = document.querySelector("#top-nav-list");
      const headings = document.querySelectorAll("h1, h2");
      if (headings.length > 1) {
        topNavEmojiButton.hidden = false;
        let lastMainListElement = null;
        let lastInnerList = null;
        headings.forEach(element => {
        if (element.textContent !== "{{ page.title }}") {
          console.log(element.nodeName);
          const link = document.createElement("a");
          link.textContent = element.textContent;
          link.href = `#${element.id}`;

          const listElement = document.createElement("li");
          listElement.appendChild(link);
          if (element.nodeName === "H1") {
            lastMainListElement = listElement;
            lastInnerList = document.createElement("ol");
            listElement.appendChild(lastInnerList);
            topNavList.appendChild(listElement);
          } else if (element.nodeName === "H2") {
            if (lastInnerList) {
              lastInnerList.appendChild(listElement);
            } else {
              topNavList.appendChild(listElement);
            }
          }
        }})
      };
    }
  </script>
</div>