// Font family
$body-font-family: "Helvetica Neue", Arial, sans-serif;
$body-font-size: 16px;
$prose-font-size: 20px;

// Type scale
$h0-mobile: 64px;
$h0-desktop: 128px;

$h1-size: 40px !default;
$h2-size: 32px !default;
$h3-size: 24px !default;
$h4-size: 20px !default;
$h5-size: 16px !default;
$h6-size: 12px !default;

// Default border color
$color-border: #ddd !default;

// Container width
$container-width: 64em;

// Large breakpoint
$breakpoint-lg: 52em;

// Spacing unit
$spacer: 8px !default;

// Spacing scale
$spacer-1: $spacer !default; // 8px
$spacer-2: ($spacer * 2) !default; // 16px
$spacer-3: ($spacer * 4) !default; // 32px
$spacer-4: ($spacer * 8) !default; // 64px

// Color variables
$black: #181818;
$blue: #020083;
$white: #fff;

// Config
$color-background: $black !default;
$color-dot-accent: $blue !default;
$color-foreground: $black !default;
$color-title: $black !default;
$color-body-text: $black !default;
$color-text-accent: $blue !default;
$color-code: $blue !default;
$color-primary-link: $blue !default;

$homepage-colorful-background-image: 
  linear-gradient(0deg, rgba(255, 255, 255, 1), 70%,
                          rgba(255, 255, 255, 0)),

  linear-gradient(70deg, rgba(28, 250, 46, 0.9) 15%,
                            rgba(252, 255, 101, 0) 45%),

  linear-gradient(164deg, rgb(117, 246, 255) 15%,
                             rgba(70, 255, 188, 0) 45%),

  linear-gradient(100deg, rgb(138, 255, 109) 5%,
                            rgb(204, 0, 255) 90%);

// Import sass partials
@import
        "base",
        "components",
        "utilities",
        "syntax-highlighting"
;

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Nav button and modal at top of post
.top-nav-area-container {
  margin-top: 0.85em;
  top: 20px;
  position: sticky;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  height: 3rem;
}

.top-nav-modal {
  background: rgba(255, 255, 255, 0.95);
  z-index: 10;
  position: absolute;
  right: 0;
  top: 3rem;
  padding: 0.5rem;
  padding-top: 0;
  margin: 0;
  box-shadow: 0px 0px 10px 0px $black;
  -webkit-box-shadow: 0px 0px 10px 0px $black;
  -moz-box-shadow: 0px 0px 10px 0px $black;
  border-radius: 10px 0 0 10px;
  max-width: 25rem;
  max-height: 20rem;
  overflow-y: scroll;
}

.nav-modal-sticky-div {
  padding-top: 0.5rem;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: right;
  background: rgba(255, 255, 255, 0.95);
  z-index: 10;
}

.top-nav-list {
  position: relative;
  list-style-type: circle;
  width: 100% !important;

  li {
    list-style-type: disc;

    ol {
      margin-bottom: 0;

      li {
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
  }
}

// Return to top of post button
.to-top-container {
  display: none;
  z-index: 10;

  @media (min-width: $breakpoint-lg) {
    bottom: 0;
    position: sticky;
    display: flex;
    justify-content: right;
    height: 3rem;
  }
}

.to-top-link {
  font-size: $prose-font-size;
  text-decoration: none !important;
}

// MathJax 
div.MathJax_Display {
  z-index: -1;
  font-size: $prose-font-size;
  margin-bottom: 1em;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;

  @media (min-width: $breakpoint-lg) {
    width: (10 / 12 * 100%);
  }
}

.MathJax span {
  z-index: -1;
}
