// Default black theme

// Color variables
$black: #181818;
$blue: #008dcfea;
$white: #fff;

// Config
$color-background: $black !default;
$color-dot-accent: $blue !default;
$color-foreground: $black !default;
$color-title: $black !default;
$color-body-text: $black !default;
$color-text-accent: $blue !default;
$color-code: $blue !default;
$color-primary-link: $blue !default;

$homepage-colorful-background-image: 
  linear-gradient(0deg, rgba(255, 255, 255, 1), 70%,
                          rgba(255, 255, 255, 0)),

  linear-gradient(70deg, rgba(28, 250, 46, 0.9) 15%,
                            rgba(252, 255, 101, 0) 45%),

  linear-gradient(164deg, rgb(117, 246, 255) 15%,
                             rgba(70, 255, 188, 0) 45%),

  linear-gradient(100deg, rgb(138, 255, 109) 5%,
                            rgb(204, 0, 255) 90%);

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities",
        "syntax-highlighting"
;