<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="home-colorful-background home-colorful-background-two">

      <header>

        <div class="clearfix border-bottom-thick header-border">
          <ul class="list-reset right py-1 header-text font-smoothing">
            <li class="inline-block">
              <a class="align-middle link-primary mr-2" href="https://github.com/{{ site.github_username }}#user-profile-frame">About</a>
            </li>
          </ul>
        </div>

        <div class="container mx-auto px-2 mb-2 clearfix header-text">
          <h1 class="h0 inline-block col-9 sm-width-full header-title">{{ site.title }}</h1>

          <div class="clearfix py-1">
            <div class="col-4 sm-width-full left border-top-thin">
              <div class="inline-block mt-3 mr-1">
                {% include svg-github.html %}
              </div>
              <div class="inline-block mt-3 mr-1">
                {% include svg-linkedin.html %}
              </div>
              <div class="inline-block mt-3 mr-1">
                <a href="mailto:{{ site.email }}" title="Email me😃">{% include svg-email.html %}</a>
              </div>
              <div class="border-left-thin inline-block mt-2 pt-1 pl-1">
                <a href="#notes" title="Notes">{% include svg-book.html %}</a>
              </div>
            </div>
          </div>

        </div>
      </header>

      <div class="container mx-auto px-2 py-4">
        {% for post in site.posts %}
          {% include post_block.html %}
        {% endfor %}

        <div id="notes"></div>
        <h2 class="lh-condensed col-9 mt-6">
          Notes
        </h2>
        <div class="prose mt-1">
          <ul>
            <li><h3 class="mt-1">Physics</h3>
            <ul>
              {% assign physics_notes = site.physics_notes | sort: "title" %}
              {% for post in physics_notes %}
                {% include note_block.html %}
              {% endfor %}
            </ul></li>

            <li><h3 class="mt-1">Computer Science</h3>
            <ul>
              {% assign computer_science_notes = site.computer_science_notes | sort: "title" %}
              {% for post in computer_science_notes %}
                {% include note_block.html %}
              {% endfor %}
            </ul></li>

            <li><h3 class="mt-1">Software development</h3>
            <ul>
              {% assign software_development_notes = site.software_development_notes | sort: "title" %}
              {% for post in software_development_notes %}
                {% include note_block.html %}
              {% endfor %}
            </ul></li>
        </ul>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>